body {
  background: rgba(65, 163, 78, 0.445);
}

li {
  border: 2px solid rgba(238, 255, 0, 0.295);
}

.yellow {
  color: yellow;
}

.completed {
  text-decoration: line-through;
}

* {
  border: 1px solid lightgrey;
}

li a {
  color: red;
}

h4 + ul {
  border: 4px solid blueviolet;
}

a[href="https://www.google.com"] {
  background: burlywood;
}

li:nth-of-type(3) {
  background: cadetblue;
}