h1 {
  color: #4dad5d;
  border: 8px dashed purple;
}

h4 {
  color: rgba(212, 10, 10, 0.5);
  background: rgb(255,100,80);
}

li {
  color: #ff1493;
}

body {
  background: url(https://images.unsplash.com/photo-1546962339-5ff89552b8ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
}