body {
  font-size: 10px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 5.0em;
  text-decoration: underline;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 2;
  text-align: justify;
}

span {
  font-size: 1.5em;
  text-decoration: line-through;
}